



@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito:wght@800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.service_boxed_1 .item_icon {
    width: 100%;
    height: 100%;
}
.seo_banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.seo_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #0e2144, #224c9a, #306ad4);
    opacity: .7;
}
.seo_banner h1{
    position: absolute;
    top: 50%;
    left: 29%;
    color: white;
    font-size: 50px;
}
.header_section.text-white .main_menu > ul > li > a {
    color: white;
}
.seo_banner .shape:nth-child(1){
    animation-delay: 2s;
    animation-duration: 12s;
    top: 50%;
    left: 50%;
}
.seo_banner .shape:nth-child(2){
  animation-delay: 0s;
  animation-duration: 10s;
  top: 5%;
  left: 15%;
}
.seo_banner .shape:nth-child(3) {
  animation-delay: 5s !important;
  animation-duration: 10s;
  bottom: 50px;
  left: 300px;
}
.seo_banner .shape:nth-child(4) {
  animation-delay: 2s !important;
  animation-duration: 10s;
  bottom: 200px;
  left: 0px;
}
.seo_banner .shape:nth-child(5){
  animation-delay: 1s;
  animation-duration: 10s;
  top: 5%;
  right: 1px;
}
.seo_banner .shape:nth-child(6) {
  animation-delay: 3s !important;
  animation-duration: 10s;
  bottom: 200px;
  right: 100px;
}
/*shape animations..................... */
@keyframes animate {
  0%{
      opacity: 0;
      transform: translatex(0) rotate(0deg);
  }
  40%,80%{
    opacity: 1;
  }
  100%{
      opacity: 0;
      transform: translatex(-200px) rotate(720deg);
  }
}
@keyframes animate-l-r{
  0%{
    opacity: 0;
    transform: translatex(0) rotate(0deg);
}
40%,80%{
  opacity: 1;
}
100%{
    opacity: 0;
    transform: translatex(200px) rotate(720deg);
}
}

@keyframes animate-2 {
  0%{
      opacity: 0;
      transform: translatex(0) rotate(0deg) translateY(0);
  }
  40%,70%{
    opacity: 1;
  }
  100%{
      opacity: 0;
      transform: translatex(-200px) rotate(0deg) translateY(200px);
  }
}
@keyframes animate-3 {
  0%{
      opacity: 0;
      transform: translatex(0) rotate(0deg) translateY(0);
  }
  40%,70%{
    opacity: 1;
  }
  100%{
      opacity: 0;
      transform: translatex(200px) rotate(0deg) translateY(-200px);
  }
}
.circles .shape{
  animation: animate 2s linear infinite;
}

.circles .shape:nth-child(2),.shape:nth-child(5){
  animation: animate-2 5s linear infinite;
}
.circles .shape:nth-child(3),.shape:nth-child(6){
  animation: animate-3 10s linear infinite;
}
.circles .shape:nth-child(4){
  animation: animate-l-r 10s linear infinite;
}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles .shape{
  background-color: #3498db;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
}
@media screen and (max-width:765px) {
    .seo_banner{
        height: 50vh !important;
    }
    .seo_banner img{
        object-fit: cover;
        height: 100%;
    }
    .seo_banner h1 {
    
    top: 42%;
    left: 0%;
   
    font-size: 31px;
    text-align: center;
}
.sm_hide{
  display: none !important;
}
.p_card {
   
    flex-direction: column;
    text-align: center;
}
.t_h1 h1 {
   
    font-size: 25px;
}
.service_section h1{
  font-size: 25px;
}
.inst_slid_head{
 flex-direction: column;
}
.w_col h3 {
 
    font-size: 27px;
    
}
.w_card {
    
    margin-top: 50px;
}
.w_col h3{
  
  font-size: 27px;
 
}
.s_why_chose {
    background: #034a57;
}
.inst_slider{
  width: 100%;
}
.rank_slider{
    width: 100%;

}

    
}
@media screen and (max-width:990px) and (min-width:765px){
    .seo_banner h1 {
   
    top: 50%;
    left: 14%;
  
}
.seo_banner {
  
    height: auto;
    /* overflow: hidden; */
}
.w_col {
  
    margin-top: 44px;


}

    
}
@media screen and (min-width:765px) {
  .p_head h1{
  font-size: 59px;
}
.lg_hide{
  display: none !important;
}
.s_why_chose{
  background-image: url(../images/seo/seo_2.jpg);
  background-size:cover ;
  position: relative;
}
.s_why_chose::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
    opacity: .7;
    background: #054456;
}
.inst_slider{
  width: 70%;
}
.rank_slider .slide{
    padding: 0;
}

  
}
.item_title{
    color: #09318b;
    /* margin: 20px 0; */
    margin-bottom: 26px;
}
.w_s_head{
    width: 120px;
}
/* .w_s_head img{
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(2deg) brightness(106%) contrast(100%);
} */
.w_s_card{
    width: 300px;
    text-align: center;
    /* color: white; */
    padding: 15px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.w_s_col{
    background: #35589a;
}
.w_s_card h3{
    color: white;
}
.w_s_card p{
    color: white;
}
.s_card_col{
    position: relative;
    padding: 0;
}
.s_card_col::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #0e2144, #224c9a, #306ad4);
    opacity: .7;
}
.s_card{
    position: absolute;
    top: 0;
    
}
.s_card h1,.s_card p{
    color: white;
}
.card_img{
  width: 100px;
}

.p_card{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.p_card img{
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(2deg) brightness(106%) contrast(100%);
}
.p_icon{
  max-width: 50px;
}
.p_card p{
  color: white;
  margin: 0;
}
.p_col{
 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    border-radius: 0 10px;
}
.p_head{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.p_head h1{
  color: white;
    
}
/* .p_head{
  width: 600px;
    height: 100%;
  
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 42px;
   
    border: 5px solid white;
} */
.p_row{
  background-image: url(../images/seo/best\ seo\ consulting\ agency\ in\ kozhikode.jpg);
  position: relative;
  background-attachment: fixed;
}
.p_row::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: black; */
    /* background: linear-gradient(90deg, #0e2144, #192832, #306ad4); */
    opacity: .7;
    background: #085050;
}
.p_card_col_6{
  padding: 10px 0;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-2-28 11:34:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-right-1
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
            transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
            transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.p_col.animated{
 
	
	        animation: tilt-in-right-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.s_sec_img{
  width: 350px;
}
.s_col p{
  text-align: justify;

}
.t_img{
  width: 35px;
    margin-right: 13px;
}
.t_p_sec{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.t_p_sec p{
  margin: 0;
}
.Section3{
  margin: 100px 0;
}
.t_h1{
  text-align: center;
    background: #048aa3;
    padding: 10px 0;
    margin-bottom: 50px;
}
.t_h1 h1{
  color: white;
}
.t_col p{
  text-align: justify;

}
.service_img{
  width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 22px;
    transition: 1s;
  
}
.service_card:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
.service_card h5{
  margin: 10px 0;
}
.service_section h1{
  color: #09318b;
    margin-bottom: 20px;
}
.service_col{
  display: flex;
    flex-direction: column;
    justify-content: center;

}
.service_section p{
  text-align: justify;
}
.slide_img{
  margin: 0 10px;
  border-radius: 30px;
  overflow: hidden;
}
.inst_slid_head{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slid_head{
  text-align: center;
}
.slid_h1{
  color: #6eafdf;
}
.slid_head {
  
    margin-bottom: 41px;
}
.s_why_chose{
  background: #0b3254;
  margin: 100px 0;
}
.s_why_chose h3{
  color: white;
}
.s_why_chose p{
  color: white;
}

.w_col{
  display: flex;
  justify-content: center;
  align-items: center;
}
.w_col h3{
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 300;
}
.w_col p{
  font-family: 'Raleway', sans-serif;
}
.w_card{
  width: 300px;
  text-align: left;
}
.w_p1{
  position: absolute;
    color: white;
    top: 94px;
    left: 24%;
}
.w_p2{
  position: absolute;
    top: 37%;
    left: 24%;
    color: white;
}
.w_p3{
  position: absolute;
    top: 54%;
    left: 24%;
    color: white;
}
.w_p4{
  position: absolute;
    top: 70%;
    left: 24%;
    color: white;
}
.w_psm{
  color: white;
   
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}
.w_img{
  position: relative;
}
.w_p b,.w_psm b{
  font-size: 19px;
    font-weight: 500;
    margin-right: 10px;
}
.ranking_slid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.rank_slider{
    width: 90%;

}
.rank_slider .slide{
    padding: 10px;
}

.ranking_slid h2{
    text-align: center;
    color: #048aa3;
    margin-bottom: 30px;

}
.slid_viewmore{
    text-align: center;
    margin: 50px 0;

}
.slid_viewmore a{
    border: 1px solid;
    padding: 5px 20px;
    width: 200px;
    color: #048aa3;
}
/*quick contact*/
.quick-contact{
  position: fixed;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background-color: #9424b9;
  border-radius: 50%;
  z-index: 1000;
  bottom: 30px;
  left: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  transform: translateX(-100px);
}
.quick-contact.q-c-active{
  transform: translateX(0px);
}
@keyframes q-c-anime{
  
  0%{
    transform: rotate(345deg);
  }
  58%{
    transform: rotate(345deg);
  }
  65%{
    transform: rotate(355deg);
  }
  72%{
    transform: rotate(345deg);
  }
  79%{
    transform: rotate(355deg);
  }
  86%{
    transform: rotate(345deg);
  }
  93%{
    transform: rotate(355deg);
  }
  100%{
    transform: rotate(345deg);
  }
 
}
.quick-contact i{
  animation: q-c-anime 3s linear infinite;
}
.quick-contact-wapp{
  position: fixed;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background-color: #24b966;
  border-radius: 50%;
  z-index: 1000;
  bottom: 100px;
  left: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  transform: translateX(-100px);
}
.quick-contact-wapp.q-c-active{
  transform: translateX(0px);
}

.q-top{
  position: fixed;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background: var(--blue-bg);
  border-radius: 50%;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  transform: translateX(100px);
}
.q-top.q-c-active{
  transform: translateX(0px);
}
/*quick contact................end*/